<div class="index-page">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1480733992048-df39e3947a38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" class="d-block w-100" alt="slide1" >
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1512911455673-5b69a621b1a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" class="d-block w-100" alt="slide2" >
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.pexels.com/photos/1261373/pexels-photo-1261373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="slide3">
                    </div>
                </div>
            </div>

            <div class ="section2 ">
                <div class ="leftbox">
                    <h1> Get Gift Right ,<br> every time  </h1>
                     <% if !user_signed_in? %>
                     <div id="buttonL">
                      <%= link_to 'get started ', new_user_registration_path %> 
                    </div>
                    <% end%>
                </div>
            </div>

    <div class="row container " id="section3">
      <div class="col-lg-4">
         <img src="/assets/brith.png" class="bd-placeholder-img rounded-circle" width="140" height="140"  >
          <h2>Brithday</h2>
        <p class="paragaph">Help your family & friends pick perfect gifts for your birthday – and they’ll thank you for it.

A free, private, web and mobile gift registry connecting you with family and close friends.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
       <img src="/assets/we.png" class="bd-placeholder-img rounded-circle" width="140" height="140"  >
        <h2>Wedding</h2>
        <p class="paragaph">the simple way to get make wedding registry checked off your to-do list.  Share your list link on invitations and you’re all set.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
<img src="/assets/beb.png" class="bd-placeholder-img rounded-circle" width="140" height="140"  >
        <h2>Baby Shower</h2>
        <p class="paragaph">With a baby on the way, WishList makes it easy and fun to collect ideas in one place and share the list with others to celebrate your new arrival.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>


       









</div>